# Environnement virtuel
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Données générées
data/raw/
data/processed/

# Logs
*.log

# Windows
Thumbs.db

# macOS
.DS_Store